<div class="container">

    <div nz-row>
        <div nz-col nzSpan="12">col-12</div>
        <div nz-col nzSpan="12">col-12</div>
    
     </div>
</div>

 <!--
<div class=" courses container">

<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="course-card p-3">
        <img src="assets\images\testcard.svg" alt="My SVG Image" />
        <div class="card-body">
          <h5 class="card-title">Course Title 1</h5>
          <nz-progress
            nzType="line"
            [nzPercent]="50"
            [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
          ></nz-progress>
        </div>

        
      </div>
      <div class="col mb-4">
        <div class="course-card p-3">
          <img src="assets\images\testcard.svg" alt="My SVG Image" />
          <div class="card-body">
            <h5 class="card-title">Course Title 2</h5>
            <nz-progress
              nzType="line"
              [nzPercent]="75"
              [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
            ></nz-progress>
          </div>
        </div>
      </div>

      
    </div>
    
  
</div>

        
      
</div> -->