<div class="container">
  <div class="chartcontainer">
    <p id="charttitle">You are doing Great!! Let the bar SOAR.</p>
    <canvas class="linechart" id="canvas">{{ loginsChart }}</canvas>
    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="overall">
          <h2 style="font-size:20px; font-weight: 500;">Over All Progress</h2>
          <nz-progress nz-tooltip="your progress" nzTitle="Overall Progress" nzType="dashboard" [nzPercent]="percent"
            [nzSuccessPercent]="30"></nz-progress>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="dailyprogress progress">
    <div class="progress-bar"></div>
  </div>


</div>